<%= javascript_pack_tag 'posts/index' %>
<%= stylesheet_pack_tag 'posts/index' %>


<button href="/new" >投稿する</button>
<br>

<div class="container" >
  <div class="row">
    <% if @posts.present? %>
    <% @posts.each do |post| %>
    <%# <div class="element col-lg-3 col-xs-4"> %>
    <a href= "/posts/<%= post.id %> ", class="element col-lg-3 col-xs-4">
      <tr>
        <td><%= image_tag post.img.url(:thumb ) if post.img? %></td><br>
      </tr>
      <tr>
        <th><strong>料理名：</strong></th>
        <td><%= post.title %></td><br>
      <tr>
        <th><strong>ユーザー名：</strong></th>
        <td><%= post.user.name %></td><br>
      </tr>
      
    </a>
  </div>
  <% end %>
 <% end %>
 </div>
