<%= javascript_pack_tag 'posts/my-post' %>
<%= stylesheet_pack_tag 'posts/my-post' %>

<br>
<div class="container-fluid">
  <div class="row">
    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <div class="post col-4 col-sm-3" >
          <div class="post__item">
            <div class="post__elements">
              <td><%= image_tag post.img.url , class: ' post__img img-fluid' %></td><br>
              <div class="post__texts">
                <span class="post__text post__date">
                  <tr>
                    <td><%= post.created_at.strftime('%Y/%m/%d') %></td><br>
                  </tr>
                </span>
                <span class="post__text post__user-name">
                  <tr>
                    <td><%= post.title %></td><br>
                  </tr>
                </span>
                <span class="post__text">
                  <tr>
                    <td><%= post.url %></td><br>
                  </tr>
                </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="post-btn">
  <a href="/new" class="post-btn__anchor">
    <div class="post-btn__chars">
      <div>投稿</div>
      <i class="fas fa-camera"></i>
    </div>
  </a>
</div>