<%= javascript_pack_tag 'posts/my-post' %>
<%= stylesheet_pack_tag 'posts/my-post' %>

<p class="post-list">MyPost</p>

<div class="container-fluid">
  <div class="row">
    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <div class="post col-4 col-sm-3">
          <div class="post__item">
            <div class="post__elements">
              <a href="/posts/<%= post.id %>">
                <td>
                  <%= image_tag post.img.url, class: 'post__img img-fluid' %>
                </td>
              </a>
              <br>
              <div class="post__texts">
                <span class="post__text post__date">
                  <tr>
                    <td><%= post.created_at.strftime('%m/%d') %></td>
                  </tr>
                </span>
                <a href= "/posts/<%= post.id %>/edit" class="post__edit far fa-edit"></a>
                <span class="post__likes">
                  <% if current_user.already_liked?(post) %>
                    <span class="likes">
                      <i class="fas fa-heart"></i>
                      <%= "#{post.likes.count}" %>
                    </span>
                  <% else %>
                    <span class="likes">
                      <i class="far fa-heart"></i>
                      <%= "#{post.likes.count}" %>
                    </span>
                  <% end %>
                </span>
                <br>
                <span class="post__text post__user-name">
                  <tr>
                    <td><%= post.title %></td><br>
                  </tr>
                </span>
                <span class="post__text" >
                  <tr>
                    <% if post.url.present? %>
                      <a href=<%= post.url %> target="_blank" class="post__url">レシピはこちら</a>
                    <% else %>
                      ------
                    <% end %>
                  </tr>
                </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<%= render "button" %>

