<%= javascript_pack_tag 'posts/new' %>
<%= stylesheet_pack_tag 'posts/new' %>

<div class="container">
  <div class="post-form">
      <h1>投稿する</h1>
      <%= form_for @post, :url => { action: "create"} do |f| %>
         <%= render 'layouts/error_messages', model: f.object %>
         <p>画像 ※必須(アップロードできるファイルタイプ:jpg jpeg gif png)</p>
         <%= f.label :img , :' ' ,class: "fas fa-image post-form__field" %><br />
         <%= f.file_field :img, class: "post-form__field post-form__file-field " %><br />
         <%= f.label :title, "料理名　※必須(15文字以内)" %><br />
         <%= f.text_field :title, class: "post-form__field", placeholder: "　例）オムライス" %><br >
         <%= f.label :text, "キャプション" %><br />
         <%= f.text_area :text, class: "post-form__field post-form__text-field", placeholder: '任意400文字以内（味、見た目、完成度、満足度など' %><br >
         <%= f.label :url, "参考にしたレシピのURL" %><br />
         <%= f.text_field :url, class: "post-form__field", placeholder: "　例）https://example/recipe/12345" %><br >
         <%= f.submit '投稿' , class: "post-form__btn"%>
      <% end %>
 </div>
</div>