<%= javascript_pack_tag 'posts/index' %>
<%= stylesheet_pack_tag 'posts/index' %>


<div class="container">
  <div class="form">
      <h1>投稿する</h1>
      <%= form_for @post, :url => { action: "create"} do |f| %>
         <%= render 'layouts/error_messages', model: f.object %>
         <%= f.label :title, "料理名　※必須(15文字以内)" %><br />
         <%= f.text_field :title, class: "field" %><br >
         <p>画像 ※必須(アップロードできるファイルタイプ:jpg jpeg gif png)</p>
         <%= f.label :img , :' ' ,class: "fas fa-image field" %><br />
         <%= f.file_field :img, class: "field hoge " %><br />
         <%= f.label :text, "コメント" %><br />
         <%= f.text_area :text, class: "field text-field" %><br >
         <%= f.label :url, "参考URL" %><br />
         <%= f.text_field :url, class: "field" %><br >
         <%= f.submit '投稿' , class: "actions"%>
      <% end %>
 </div>
</div>
