<%= javascript_pack_tag 'posts/show' %>
<%= stylesheet_pack_tag 'posts/show' %> 

<br>
<div class="container" >
  <div class="row"> 
    <div class="post">
      <div class="post__item">
        <div class="post__elements">
          <div class= "post__info">
            <span class= "post__user-name">
              <tr>
                <td><%= @post.user.name %></td>
              </tr>
            </span>
            <span class=" post__date">
              <tr>
                <td><%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></td><br>
              </tr>
            </span>
          </div>
          <tr>
            <td><%= image_tag @post.img.url(:thumb ), class: 'post__img img-fluid' %></td><br>
          </tr>
          <div class="post__texts">
            <span class="post__text post__title">
              <tr>
                <th><strong>タイトル：</strong></th>
                <td><%= @post.title %></td><br>
              </tr>
            </span>
            <span class="post__text post__comment">
              <tr>
                <td><%= @post.text %></td><br>
              </tr>
            </span>
            <span class="post__text post__url">
              <tr>
                <% if @post.url.present? %>
                  <a href=<%= @post.url %> target="_blank"> 参考にしたレシピ</a>
                <% end %>
              </tr>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>

<%= render "button" %>

