<%# <%= javascript_pack_tag 'posts/show' %> 
<%= stylesheet_pack_tag 'posts/index' %> 

<br>
<div class="container" >
  <div class="row"> 
    <div class="ele">
      <tr>
        <td><%= image_tag @post.img.url(:thumb ) if @post.img? %></td><br>
      </tr>
      <tr>
        <th><strong>タイトル：</strong></th>
        <td><%= @post.title %></td><br>
      </tr>
      <tr>
        <th><strong>ユーザー名：</strong></th>
        <td><%= @post.user.name %></td><br>
      </tr>
      <tr>
        <th><strong>コメント：</strong></th>
        <td><%= @post.text %></td><br>
      </tr>
      <tr>
        <th><strong>参考にした動画やレシピ：</strong></th>
        <td><%= @post.url %></td><br>
      </tr>
      <tr>
        <th><strong>投稿日：</strong></th>
        <td><%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></td><br>
      </tr>
    </div>
  </div>
 </div>
<div class="bb">
    <a href="/new" class="post-btn">
      <div class="btn-chars">
        <div>投稿</div>
        <i class="fas fa-camera"></i>
      </div>
    </a>
  </div>

 <a href="/">戻る</a>