<%= javascript_pack_tag 'posts/user-post' %>
<%= stylesheet_pack_tag 'posts/user-post' %>

<p class="post-list">
  <% if @post.user == current_user %>
    MyPost
  <% else %>
    <%= @post.user.name %>さんの投稿一覧
  <% end %>
</p>
<%= render "posts"%>
<%= render "button" %>