<!DOCTYPE html>
<html>
  <head>
    <title>SnsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>

<header>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <%= link_to "Home", root_path, class: 'navbar-brand' %>
    <div id="Navber">
      <ul class="navbar-nav">
        
        <% if user_signed_in? %>
        <li class="nav-item active">
          <a class="nav-link" href="/my_post">MyPost</a>
        </li>
          <li class="nav-item active">
            <%= link_to "投稿する", new_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
      <% else %>
          <li class="nav-item active">
            <%= link_to "MyPost", my_post_path ,notice: 'ああ' , class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "投稿する", new_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
